@use "../utilities" as *;

/**----------------------------------------
    START: Case Study CSS
----------------------------------------*/
.cs-item{
    background-color: var(--rr-color-bg-1);
    padding: 40px;
    @include breakpoint(md){
        padding: 20px;
    }
    .cs-thumb{
        position: relative;
        &:before{
            background-color: var(--rr-color-theme-primary);
            content: "";
            mix-blend-mode: multiply;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            visibility: hidden;
            opacity: 0;
            @include transition(all 0.3s ease-in-out);
        }
        .cs-btn{
            background-color: var(--rr-color-common-white);
            color: var(--rr-color-theme-primary);
            height: 120px;
            width: 120px;
            font-size: 40px;
            @include flex-center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            border-radius: 50%;
            @include transition(all 0.4s ease-in-out);
            transition-delay: 200ms;
            i{
                transform: rotate(-45deg);
            }
            &:hover{
                background-color: var(--rr-color-theme-primary);
                color: var(--rr-color-common-white);
            }
            @include breakpoint(md){
                height: 80px;
                width: 80px;
                font-size: 30px;
            }
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .cs-content{
        @include flex-vertical-center;
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 20px;
        margin-top: 40px;
        @include breakpoint(md){
            margin-top: 20px;
        }
        @include breakpoint(sm){
            column-gap: 10px;
        }
        span{
            background-color: var(--rr-color-common-white);
            color: var(--rr-color-heading-primary);
            font-size: 14px;
            font-weight: 700;
            width: 45px;
            height: 45px;
            @include flex-center;
            border-radius: 50%;
            @include transition(all 0.4s ease-in-out);
        }
        .title{
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 0;
            @include breakpoint(md){
                font-size: 18px;
            }
            @include breakpoint(sm){
                font-size: 15px;
            }
        }
    }
    &:hover{
        .cs-thumb{
            &:before{
                visibility: visible;
                opacity: 1;
            }
            .cs-btn{
                transform: translate(-50%, -50%) scale(1);
            }
        }
        .cs-content{
            span{
                background-color: var(--rr-color-theme-primary);
                color: var(--rr-color-common-white);
            }
        }
    }
}

/* !END: Case Study CSS */
