@use "../utilities" as *;

/**----------------------------------------
START: Footer CSS
----------------------------------------*/
.footer-section {
    position: relative;
    z-index: 1;
    .shape{
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.footer-wrap{
    padding: 130px 0;
    @include breakpoint(md){
        padding: 80px 0 0 0;
    }
}

.footer-widget {
    @include breakpoint(md) {
        margin-bottom: 80px;
    }
    @include breakpoint(sm){
        margin-bottom: 50px;
    }
    .widget-header {
        margin-bottom: 45px;
        .footer-logo{
            max-width: 170px;
        }
        .widget-title{
            color: var(--rr-color-common-white);
            font-size: 24px;
            font-weight: 700;
            position: relative;
            &:before{
                background-color: var(--rr-color-theme-primary);
                content: "";
                height: 5px;
                width: 80px;
                position: absolute;
                bottom: -8px;
                left: 0;
            }
        }
    }
    .title{
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: 30px;
        text-transform: uppercase;
        span{
            color: var(--rr-color-text-body);
            display: block;
            margin-top: 10px;
            text-transform: inherit;
            font-weight: 400;
        }
    }
    .footer-list {
        list-style: none;
        li {
            color: rgba(255, 255, 255, 0.8);
            a {
                font-family: var(--rr-ff-body);
                color: rgba(255, 255, 255, 0.8);
                font-size: 16px;
                font-weight: 400;
                line-height: 1;
                &:hover {
                    color: var(--rr-color-theme-primary);
                }
            }
            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }
    .footer-form{
        position: relative;
        margin-top: 30px;
        .form-control{
            background-color: var(--rr-color-border-1);
            padding: 15px 104px 15px 15px;
            color: rgba(255, 255, 255, 0.8);
            box-shadow: none;
            border: none;
            border-radius: 4px;
                @include tp-placeholder{
                color: rgba(255, 255, 255, 0.8);
            }
        }
        .submit{
            background-color: var(--rr-color-theme-primary);
            color: rgba(255, 255, 255, 0.8);
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            height: 100%;
            font-size: 16px;
            font-weight: 600;
            padding: 0 20px;
            border-radius: 4px;
        }
    }
    .address-list {
        list-style: none;
        margin-bottom: 30px;
        li {
            font-family: var(--rr-ff-body);
            font-size: 16px;
            color: rgba(255, 255, 255, 0.8);
            display: flex;
            column-gap: 10px;
            &:not(:last-of-type) {
                margin-bottom: 15px;
            }
            i {
                color: var(--rr-color-theme-primary);
                line-height: 1;
                margin-top: 6px;
            }
            a {
                border-bottom: 1px solid transparent;
                &:hover {
                    color: var(--rr-color-theme-primary);
                    border-bottom: 1px solid var(--rr-color-theme-primary)
                }
            }
        }
    }
    .social-list {
        @include flex-vertical-center;
        list-style: none;
        li {
            a {
                background-color: transparent;
                color: var(--rr-color-common-white);
                font-size: 14px;
                height: 40px;
                width: 40px;
                border-radius: 0;
                display: block;
                border: 1px solid rgba(255, 255, 255, 0.2);
                @include flex-center;
                &:hover {
                    background-color: var(--rr-color-theme-primary);
                    color: var(--rr-color-common-white);
                }
            }
            &:not(:last-of-type) {
                margin-right: 10px;
            }
        }
    }
    .form-check{
        margin-top: 30px;
        .form-check-input{
            background-color: var(--rr-color-border-1);
            border: none;
            box-shadow: none;
            height: 17px;
            width: 17px;
            &:checked[type=checkbox]{
                box-shadow: none;
            }
        }
        .form-check-label{
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
        }
    }
    &.footer-col-2{
        padding-left: 70px;
        @include breakpoint(md){
            padding-left: 0;
        }
        .footer-list{
            li{
                a{
                    position: relative;
                    padding-left: 30px;
                    &:before{
                        background-image: none;
                        font-family: "Font Awesome 6 Pro";
                        font-size: 14px;
                        font-weight: 700;
                        content: "\f356";
                        color: var(--rr-color-text-body);
                        position: absolute;
                        top: 55%;
                        left: 0;
                        transform: translateY(-50%);
                        transition: all 0.3s ease-in-out;
                        cursor: pointer;
                    }
                    &:hover{
                        &:before{
                            color: var(--rr-color-theme-primary);
                            left: 5px; 
                        }
                    }
                }
            }
        }
    }
    &.widget-3{
        padding-left: 30px;
        @include breakpoint(md){
            padding-left: 0;
        }
    }
}


.copyright-area{
    border-top: 1px solid var(--rr-color-border-1);
    padding: 40px 0;
    @include breakpoint(md){
        padding: 40px 0
    }
}

.copyright-content {
    align-items: center;
    @include breakpoint(md) {
        margin-top: 0;
    }
    @include breakpoint(sm) {
        row-gap: 20px;
    }
    p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        font-family: var(--rr-ff-body);
        margin: 0;
        span {
            color: var(--rr-color-theme-primary);
        }
        @include breakpoint(sm){
            text-align: center;
        }
    }
    .social-list {
        @include flex-vertical-center;
        justify-content: end;
        list-style: none;
        @include breakpoint(sm){
            justify-content: center;
        }
        li {
            a {
                background-color: var(--rr-color-border-1);
                color: var(--rr-color-common-white);
                font-size: 13px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                display: block;
                @include flex-center;
                &:hover {
                    background-color: var(--rr-color-theme-primary);
                    color: var(--rr-color-common-white);
                }
            }
            &:not(:last-of-type) {
                margin-right: 10px;
            }
        }
    }
}

// Footer 2

.footer-top{
    @include flex-vertical-center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 100px 0 60px 0;
    margin-bottom: 80px;
    border-bottom: 1px solid var(--rr-color-border-1);
    @include breakpoint(sm){
        padding: 50px 0;
        margin-bottom: 50px;
    }
    .footer-logo{
        img{
            @include breakpoint(lg){
                max-width: 150px
            }
        }
    }
    .social-list {
        @include flex-vertical-center;
        list-style: none;
        li {
            a {
                background-color: var(--rr-color-border-1);
                color: var(--rr-color-common-white);
                font-size: 13px;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                display: block;
                @include flex-center;
                &:hover {
                    background-color: var(--rr-color-theme-primary);
                    color: var(--rr-color-common-white);
                }
            }
            &:not(:last-of-type) {
                margin-right: 10px;
            }
        }
    }
}

.footer-2{
    .footer-wrap{
        padding-top: 0;
        padding-bottom: 80px;
        @include breakpoint(md){
            padding-bottom: 0;
        }
    }
    .copyright-content{
        p{
            color: var(--rr-color-common-white);
            margin-bottom: 0;
            @include breakpoint(md){
                text-align: center;
                margin-bottom: 15px!important;
            }
        }
        .copyright-list{
            @include flex-vertical-center;
            justify-content: end;
            list-style: none;
            flex-wrap: wrap;
            row-gap: 10px;
            @include breakpoint(md){
                justify-content: center;
            }
            li{
                position: relative;
                &:not(:last-of-type){
                    padding-right: 20px;
                    margin-right: 20px;
                    @include breakpoint(sm){
                        margin-right: 10px;
                        padding-right: 0;
                    }
                    &:before{
                        content: "|";
                        color: var(--rr-color-common-white);
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        @include breakpoint(sm){
                            display: none;
                        }
                    }
                }
                a{
                    color: var(--rr-color-common-white);
                    &:hover{
                        color: var(--rr-color-theme-primary);
                    }
                }
            }
        }
    }
}

// Footer-3

.footer-3{
    .footer-top{
        padding-bottom: 90px;
        margin-bottom: 0;
        @include breakpoint(sm){
            padding: 50px 0;
        }
        .title{
            font-size: 80px;
            margin-bottom: 0;
            text-transform: uppercase;
            @include breakpoint(md){
                font-size: 50px;
            }
            @include breakpoint(sm){
                font-size: 30px;
            }
        }
        .footer-btn{
            color: var(--rr-color-common-white);
            font-size: 30px;
            height: 130px;
            width: 130px;
            @include flex-center;
            border-radius: 50%;
            border: 1px solid var(--rr-color-theme-primary);
            i{
                transform: rotate(-45deg);
                @include transition(all 0.3s ease-in-out);
            }
            &:hover{
                i{
                    transform: rotate(0deg);
                }
            }
        }
    }
    .footer-wrap{
        border-bottom: 1px solid var(--rr-color-border-1);
        padding: 30px 0;
        .footer-text-social{
            @include flex-vertical-center;
            align-items: center;
            justify-content: space-between;
            list-style: none;
            flex-wrap: wrap;
            row-gap: 15px;
            @include breakpoint(sm){
                justify-content: start;
            }
            li{
                line-height: 1;
                &:not(:last-of-type){
                    margin-right: 10px;
                    @include breakpoint(sm){
                        margin-right: 20px;
                    }
                }
                a{
                    color: var(--rr-color-common-white);
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 4px;
                    text-transform: uppercase;
                    &:hover{
                        color: var(--rr-color-theme-primary);
                    }
                }
            }
        }
    }
    .copyright-area{
        border-top: none;
        .site-logo{
            max-width: 170px;
        }
    }
}

.footer-4{
    .footer-wrap{
        padding: 130px 0;
        @include breakpoint(md){
            padding: 80px 0 0 0;
        }
    }
    .logo-widget{
        p{
            margin-bottom: 40px;
        }
        .social-list{
            li{
                a{
                    background-color: #1E2228;
                    border-radius: 50%;
                    border: none;
                    &:hover{
                        background-color: var(--rr-color-theme-primary);
                    }
                }
            }
        }
    }
}

.copyright-content.content-2{
    .site-logo{
        @include breakpoint(sm){
            margin: 0 auto;
        }
    }
    p{
        text-align: right;
        margin-bottom: 0;
        @include breakpoint(sm){
            text-align: center;
        }
    }
}


// Footer 12

.footer-12{
    background-color: #11151C;
    .footer-wrap{
        padding: 120px 0 65px 0;
        @include breakpoint(md){
            padding-bottom: 0;
            padding-top: 80px;
        }
    }
    .footer-widget{
        &.mail-widget{
            display: grid;
            align-items: center;
            grid-template-columns: 140px 1fr;
            grid-gap: 30px;
            @include breakpoint(lg){
                margin-bottom: 80px;
            }
            @include breakpoint(md){
                margin-bottom: 50px;
            }
            @include breakpoint(sm){
                grid-template-columns: 1fr;
            }
            .icon-wrapper{
                background-color: rgba(255, 255, 255, 0.03);
                border: 1px solid rgba(255, 255, 255, 0.06);
                height: 140px;
                width: 140px;
                border-radius: 50%;
                @include flex-center;
                .icon{
                    height: 116px;
                    width: 116px;
                    border-radius: 50%;
                    border: 1px solid var(--rr-color-theme-primary);
                    @include flex-center;
                    color: var(--rr-color-common-white);
                    font-size: 30px;
                }
            }
            .content{
                a{
                    color: var(--rr-color-common-white);
                    font-size: 48px;
                    font-weight: 400;
                    line-height: 1;
                    font-family: var(--rr-ff-body);
                    display: inline-block;
                    margin-bottom: 15px;
                    @include breakpoint(sm){
                        font-size: 30px;
                    }
                    &:hover{
                        color: var(--rr-color-theme-primary);
                    }
                }
                p{
                    color: var(--rr-color-common-white);
                    font-size: 18px;
                    font-weight: 400;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    line-height: 1.6;
                    @include breakpoint(sm){
                        font-size: 14px;
                    }
                }
            }
        }
        &.website-widget{
            padding-left: 70px;
            @include breakpoint(md){
                padding-left: 0;
            }
            .footer-website{
                &:not(:last-of-type){
                    margin-bottom: 40px;
                }
                span{
                    color: var(--rr-color-common-white);
                    font-size: 16px;
                    display: block;
                    margin-bottom: 10px;
                    line-height: 1;
                }
                a{
                    color: var(--rr-color-common-white);
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }
        }
        &.subscribe-widget{
            padding-left: 70px;
            @include breakpoint(lg){
                padding-left: 0;
            }
        }
    }
}



// footer-top-15 S-work
.footer-top-15 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    padding-left: 40px;
    backdrop-filter: blur(40px);
    background: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.07);

    @include breakpoint(sm) {
        gap: 20px;
        flex-wrap: wrap;
        padding-left: 25px;
    }

    .footer-menu {
        gap: 68px;
        flex-wrap: wrap;
        list-style: none;
        display: inline-flex;
        align-items: center;

        @include breakpoint(md) {
            gap: 40px;
        }
        @include breakpoint(sm) {
            gap: 20px;
        }

        li {
            display: inline-block;

            a {
                font-weight: 600;
                font-size: 16px;
                line-height: 1;
                color: var(--rr-color-common-white);
            }

            &:hover {
                a {
                    color: var(--rr-color-theme-primary);
                }
            }
        }
    }

    .footer-btn {
        .rr-primary-btn {
            font-weight: 700;
            padding: 17px 27.5px;
            color: var(--rr-color-theme-primary);
            background-color: var(--rr-color-common-white);

            &:hover {
                color: var(--rr-color-common-white);
            }

            &::before {
                background-color: var(--rr-color-theme-primary);
            }
        }
    }
}

.footer-wrap-15 {
    padding: 80px 0;
    padding-bottom: 62px;
}

.footer-widget-15 {
    .footer-logo {
        img {
            max-width: 170px;
        }
    }

    &.widget-col-1 {
        p {
            line-height: 26px;
            margin-bottom: 23px;
        }
    }

    &.widget-col-1,
    &.widget-col-2 {
        position: relative;

        &::after {
            content: "";
            width: 1px;
            height: 221px;
            top: 0;
            right: 40px;
            position: absolute;
            background-color: var(--rr-color-grey-2);

            @include breakpoint(lg) {
                display: none;
            }
        }
    }

    &.widget-col-2 {
        margin-left: 30px;

        @include breakpoint(sm) {
            margin-left: 0;
        }

        &::after {
            right: 60px;
        }
    }

    &.widget-col-3 {
        p {
            margin-bottom: 32px;
            line-height: 26px;

            @include breakpoint(lg) {
                br {
                    display: none;
                }
            }
        }

        .widget-title {
            font-size: 30px;
            margin-bottom: 20px;

            @include breakpoint(lg) {
                line-height: 1.1;
            }
        }
    }

    .footer-social {
        display: flex;
        align-items: center;
        gap: 7px;

        a {
            width: 51px;
            height: 51px;
            display: inline-flex;
            border-radius: 500px;
            align-items: center;
            justify-content: center;
            color: rgba(255, 255, 255, 0.5);
            border: 1px solid var(--rr-color-grey-2);

            &:hover {
                color: var(--rr-color-common-white);
                border-color: var(--rr-color-theme-primary);
                background-color: var(--rr-color-theme-primary);
            }
        }
    }


    .widget-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 24px;
        color: var(--rr-color-common-white);
    }

    .address-list {
        list-style: none;

        li {
            display: flex;
            align-items: start;
            gap: 18px;
            margin-bottom: 16px;

            span {
                font-size: 14px;
                color: var(--rr-color-theme-primary);
            }

            a {
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                transform: translateY(-1px);
                color: var(--rr-color-text-body);

                &:hover {
                    color: var(--rr-color-theme-primary);
                }
            }

            &:first-of-type {
                span {
                    font-size: 20px;
                }
            }
        }
    }

    .footer-form {
        .rr-subscribe-form {
            max-width: 440px;
            position: relative;
        }

        .form-control {
            max-width: 440px;
            width: 100%;
            height: 60px;
            padding: 10px 30px;
            padding-right: 200px;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            border-radius: 0;

            @include breakpoint(sm) {
                padding: 10px 30px;
            }

            &:focus {
                border-color: inherit;
                outline: 0;
                box-shadow: none;
                background-color: var(--rr-color-common-white);
            }
        }

        .rr-primary-btn {
            padding: 17px 34px;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);

            @include breakpoint(sm) {
                position: inherit;
                right: 0px;
                margin-top: 5px;
                transform: translateY(0%);
            }
        }
    }
}

.copyright-15 {
    padding: 21.5px 0;
    padding-bottom: 42px;

    .copyright-content-15 {
        .row{
            @include breakpoint(sm) {
                flex-direction: column-reverse;
            } 
        }
        p {
            margin-bottom: 0;
            color: var(--rr-color-common-white);

            @include breakpoint(sm) {
                text-align: center;
            }
        }
    }

    .copyright-menu {
        list-style: none;
        gap: 30px;
        display: flex;
        align-items: center;
        justify-content: end;

        @include breakpoint(sm) {
            margin-top: 10px;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
        }

        li {
            a {
                font-weight: 500;
                color: var(--rr-color-common-white);

                &:hover {
                    color: var(--rr-color-theme-primary);
                }
            }
        }
    }
}

/* !END: Theme Footer CSS */
